# Configurazione Docker Compose per Redpanda, un broker Kafka compatibile.
# Questo file definisce un servizio Redpanda con configurazioni specifiche per l'avvio e la persistenza dei dati.

services:
  redpanda:  # Definizione del servizio Redpanda
    image: redpandadata/redpanda:latest  # Immagine Docker ufficiale di Redpanda
    container_name: redpanda  # Nome del container
    command: >
      redpanda start
      --overprovisioned
      --smp 1
      --memory 1G
      --reserve-memory 0M
      --node-id 0
      --check=false
    ports:
      - "9092:9092"  # Porta per Kafka API (standard)
      - "9644:9644"   # admin API (opzionale) - Porta per l'API di amministrazione (opzionale)
    volumes:
      - redpanda-data:/var/lib/redpanda/data  # Montaggio del volume per la persistenza dei dati
    environment:
      - REDPANDA_AUTO_CREATE_TOPICS=false  # Disabilita la creazione automatica dei topic
volumes:
  redpanda-data:  # Definizione del volume per la persistenza dei dati
